---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=20&q=%23Ruby%20OR%20%23Rails%20-rt&result_type=recent&since_id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="DtrhIY2Lkt1bjix4wjHkQKC3d", oauth_nonce="267da07fd95856b4870deb3dc9576496",
        oauth_signature="wSInPcQvBi2YoD%2Bof5rxkE6dB9E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1504165017", oauth_token="1198218042-NBUqQd4pedslkPGq7lif0aIOybO01R7blY4qv8t",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 31 Aug 2017 07:36:58 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 5438bc2b556a40ecfe32ed35a92848fa
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1504165918'
      X-Response-Time:
      - '181'
      X-Transaction:
      - 000e6a4c0012f338
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Thu Aug 31 07:30:35 +0000 2017","id":903158055835185152,"id_str":"903158055835185152","text":"Architect
        @hackerrank Bangalore #Java #Javascript #Ruby https:\/\/t.co\/BXNDT7QLy9","truncated":false,"entities":{"hashtags":[{"text":"Java","indices":[32,37]},{"text":"Javascript","indices":[38,49]},{"text":"Ruby","indices":[50,55]}],"symbols":[],"user_mentions":[{"screen_name":"hackerrank","name":"HackerRank","id":598157131,"id_str":"598157131","indices":[10,21]}],"urls":[{"url":"https:\/\/t.co\/BXNDT7QLy9","expanded_url":"http:\/\/ow.ly\/grK950dLfZH","display_url":"ow.ly\/grK950dLfZH","indices":[56,79]}]},"metadata":{"iso_language_code":"lt","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/www.hootsuite.com\" rel=\"nofollow\"\u003eHootsuite\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":724534319822311424,"id_str":"724534319822311424","name":"SA_Python_Jobs","screen_name":"sa_python_jobs","location":"Global","description":"Python
        Jobs","url":"https:\/\/t.co\/xNqC7OjkZs","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/xNqC7OjkZs","expanded_url":"http:\/\/www.siliconarmada.com","display_url":"siliconarmada.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":371,"friends_count":244,"listed_count":422,"created_at":"Mon
        Apr 25 09:43:37 +0000 2016","favourites_count":14,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":10858,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/724534604376510464\/_gqKwJx__normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/724534604376510464\/_gqKwJx__normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/724534319822311424\/1461577626","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"lt"},{"created_at":"Thu
        Aug 31 07:29:40 +0000 2017","id":903157828805943297,"id_str":"903157828805943297","text":"MySQL
        for Beginners\n\u261e https:\/\/t.co\/CgGbDn2kKi\n#ruby #rails","truncated":false,"entities":{"hashtags":[{"text":"ruby","indices":[46,51]},{"text":"rails","indices":[52,58]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/CgGbDn2kKi","expanded_url":"http:\/\/school.codetrick.net\/p\/rkQIR_MYb?utm_source=twitter&utm_campaign=58fde8[...]
