---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=20&q=%23GameOfThrones%20-rt&result_type=recent&since_id=904672973105373185
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="DtrhIY2Lkt1bjix4wjHkQKC3d", oauth_nonce="bc8f830e5e917a6bc9a0008b95973642",
        oauth_signature="SI7788%2FRouH%2Fxf%2BeEmKS4gfDD8E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1504527254", oauth_token="1198218042-NBUqQd4pedslkPGq7lif0aIOybO01R7blY4qv8t",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 04 Sep 2017 12:14:15 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - '068e047b413db513ad608b7a6e85d3b0'
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1504528155'
      X-Response-Time:
      - '246'
      X-Transaction:
      - '008bd4e300d0f376'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Mon Sep 04 12:13:46 +0000 2017","id":904678875912962049,"id_str":"904678875912962049","text":"#Win
        the ENTIRE #GameofThrones DVD Collection LEARN HOW! #Kindle #amreading https:\/\/t.co\/hS9F1xPBG1
        via @","truncated":false,"entities":{"hashtags":[{"text":"Win","indices":[0,4]},{"text":"GameofThrones","indices":[16,30]},{"text":"Kindle","indices":[57,64]},{"text":"amreading","indices":[65,75]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/hS9F1xPBG1","expanded_url":"http:\/\/genrebuzz.com\/giveaways\/gameofthrones-giveaway\/?lucky=61932","display_url":"genrebuzz.com\/giveaways\/game\u2026","indices":[76,99]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1369419024,"id_str":"1369419024","name":"Ann
        Fantom","screen_name":"AnnFantom","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":349,"friends_count":1414,"listed_count":243,"created_at":"Sun
        Apr 21 12:20:41 +0000 2013","favourites_count":11,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":59923,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/532367607676932096\/9KlHZZEO_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/532367607676932096\/9KlHZZEO_normal.jpeg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Mon
        Sep 04 12:13:40 +0000 2017","id":904678848880627714,"id_str":"904678848880627714","text":"#gameofthrones
        #gameofthronesfamily #gameofthronesfan Game of Thrones T-shirt ... https:\/\/t.co\/mUSyKUIY0I
        https:\/\/t.co\/Dx0NGc5OhV","truncated":false,"entities":{"hashtags":[{"text":"gameofthrones","indices":[0,14]},{"text":"gameofthronesfamily","indices":[15,35]},{"text":"gameofthronesfan","indices":[36,53]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/mUSyKUIY0I","expanded_url":"http:\/\/www.sevenkingdomsstore.com\/product\/game-thrones-t-shirt-north-remembers\/","display_url":"sevenkingdomsstore.com\/product\/game-t\u2026","indices":[82,105]}],"media":[{"id":904678845357449216,"id_str":"904678845357449216","indices":[106,129],"media_url":"http:\/\/pbs.twimg.com\/media\/DI4Qnd1XYAAdERS.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DI4Qnd1XYAAdERS.jpg","url":"https:\/\/t.co\/Dx0NGc5OhV","display_url":"pic.twitter.com\/Dx0NGc5OhV","expanded_url":"https:\/\/twitter.com\/7kingdoms_store\/status\/904678848880627714\/photo\/1","type":"photo","sizes":{"medium":{"w":640,"h":638,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":640,"h":638,"resize":"fit"},"small":{"w":640,"h":638,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":904678845357449216,"id_str":"904678845357449216","indices":[106,129],"media_url":"http:\/\/pbs.twimg.com\/media\/DI4Qnd1XYAAdERS.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DI4Qnd1XYAAdERS.jpg","url":"https:\/\/t.co\/Dx0NGc5OhV","display_url":"pic.twitter.com\/Dx0NGc5OhV","expanded_url":"https:\/\/twitter.com\/7kingdoms_store\/status\/904678848880627714\/photo\/1","type":"photo","sizes":{"medium":{"w":640,"h":638,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop[...]
