---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=20&q=%23GameOfThrones%20-rt&result_type=recent&since_id=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="DtrhIY2Lkt1bjix4wjHkQKC3d", oauth_nonce="4b167a89925611dd8e7d492e09e3d4bf",
        oauth_signature="R%2BV4HgubE2GkmteW6G%2FZByHKUDs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1504525847", oauth_token="1198218042-NBUqQd4pedslkPGq7lif0aIOybO01R7blY4qv8t",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 04 Sep 2017 11:50:47 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b25d64f075fdd8c62831ef5f4d09c3bd
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1504526747'
      X-Response-Time:
      - '384'
      X-Transaction:
      - 0076f2ab0090fde0
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Mon Sep 04 11:50:19 +0000 2017","id":904672973105373185,"id_str":"904672973105373185","text":"Me
        after season 7 finale #GoT #GameOfThrones https:\/\/t.co\/pvHmlpHP9X","truncated":false,"entities":{"hashtags":[{"text":"GoT","indices":[25,29]},{"text":"GameOfThrones","indices":[30,44]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":904672963517173760,"id_str":"904672963517173760","indices":[45,68],"media_url":"http:\/\/pbs.twimg.com\/media\/DI4LRGRXUAA6Lhf.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DI4LRGRXUAA6Lhf.jpg","url":"https:\/\/t.co\/pvHmlpHP9X","display_url":"pic.twitter.com\/pvHmlpHP9X","expanded_url":"https:\/\/twitter.com\/_LittleMiiiss_\/status\/904672973105373185\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":720,"h":468,"resize":"fit"},"small":{"w":680,"h":442,"resize":"fit"},"large":{"w":720,"h":468,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":904672963517173760,"id_str":"904672963517173760","indices":[45,68],"media_url":"http:\/\/pbs.twimg.com\/media\/DI4LRGRXUAA6Lhf.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DI4LRGRXUAA6Lhf.jpg","url":"https:\/\/t.co\/pvHmlpHP9X","display_url":"pic.twitter.com\/pvHmlpHP9X","expanded_url":"https:\/\/twitter.com\/_LittleMiiiss_\/status\/904672973105373185\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":720,"h":468,"resize":"fit"},"small":{"w":680,"h":442,"resize":"fit"},"large":{"w":720,"h":468,"resize":"fit"}}}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1594424076,"id_str":"1594424076","name":"Jian
        Yi  (\u898b\u4e00)","screen_name":"_LittleMiiiss_","location":"Greed Island","description":"PSYCHEDELIC|
        ROCK| PUNK| \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nBeka
        X Yura \/ #otaku \nCinema \/  #serieaddict\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nFigure
        Skater \u2764\u2764 #johnnyweir","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":155,"friends_count":700,"listed_count":4,"created_at":"Sun
        Jul 14 23:03:38 +0000 2013","favourites_count":6844,"utc_offset":7200,"time_zone":"Paris","geo_enabled":true,"verified":false,"statuses_count":1300,"lang":"fr","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/547658454064574464\/QYuHT5aw.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/547658454064574464\/QYuHT5aw.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/839934653909909504\/-XaXDlRH_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/839934653909909504\/-XaXDlRH_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1594424076\/1500594840","profile_link_color":"3B94D9","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Mon
        Sep 04 11:50:10 +0000 2017","id":904672937533419521,"id_str":"904672937533419521","text":"For
        every person that tells me to watch #GameOfThrones I delay my viewing by one
        year","truncated":false,"entities":{"hashtags":[{"text":"GameOfThrones","indices":[40,54]}],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone[...]
