---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=20&q=%23Rails%20-rt&result_type=recent&since_id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="DtrhIY2Lkt1bjix4wjHkQKC3d", oauth_nonce="be57aee839ed3416b911e9cd4ba89b87",
        oauth_signature="zTuuA8m4BE%2BLktGJ36NsK%2BgEA5A%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1504180703", oauth_token="1198218042-NBUqQd4pedslkPGq7lif0aIOybO01R7blY4qv8t",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 31 Aug 2017 11:58:23 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - bd6493071facd1e9b513aae33c59b053
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1504181546'
      X-Response-Time:
      - '367'
      X-Transaction:
      - 001dc2f400a96084
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Thu Aug 31 11:43:59 +0000 2017","id":903221830051344384,"id_str":"903221830051344384","text":"Interacting
        with ActiveStorage::Attachment and ActiveStorage::Blob on 5.2.0.alpha https:\/\/t.co\/mLMYu1IL74
        #rails #rubyonrails","truncated":false,"entities":{"hashtags":[{"text":"rails","indices":[106,112]},{"text":"rubyonrails","indices":[113,125]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/mLMYu1IL74","expanded_url":"http:\/\/zpr.io\/PW5ry","display_url":"zpr.io\/PW5ry","indices":[82,105]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/zapier.com\/\" rel=\"nofollow\"\u003eZapier.com\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":355327056,"id_str":"355327056","name":"Rails
        Issues","screen_name":"_rails","location":"","description":"Get Notified When
        @rails Issue Logged at @github\nhttp:\/\/t.co\/CIeGe19nYe","url":"https:\/\/t.co\/gf8SWEDoPf","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/gf8SWEDoPf","expanded_url":"https:\/\/github.com\/rails\/rails\/issues","display_url":"github.com\/rails\/rails\/is\u2026","indices":[0,23]}]},"description":{"urls":[{"url":"http:\/\/t.co\/CIeGe19nYe","expanded_url":"http:\/\/rubyonrails.org","display_url":"rubyonrails.org","indices":[49,71]}]}},"protected":false,"followers_count":838,"friends_count":2,"listed_count":58,"created_at":"Mon
        Aug 15 05:23:11 +0000 2011","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":21080,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/541303980970622976\/MF6kEe-a_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/541303980970622976\/MF6kEe-a_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        Aug 31 11:00:09 +0000 2017","id":903210797840703490,"id_str":"903210797840703490","text":"Write
        amazing Ruby &amp; Ruby On Rails code.\n#ruby #rails #rubyonrails #tdd #indiedev
        #programming #coding\nhttps:\/\/t.co\/FuFZAJwxIo","truncated":false,"entities":{"hashtags":[{"text":"ruby","indices":[45,50]},{"text":"rails","indices":[51,57]},{"text":"rubyonrails","indices":[58,70]},{"text":"tdd","indices":[71,75]},{"text":"indiedev","indice[...]
