- model_class = Interest

.page-header
  %h1=t '.title', default: [:'helpers.titles.edit', 'Edit %{model}'], model: model_class.model_name.human.titleize

= render partial: "form", locals: { interest: interest }

= link_to t('.cancel', default: t("helpers.links.cancel")), admin_interests_path, class: 'btn btn-default'
