.container
  .row
    .span12
      = simple_form_for admin_users_path, method: :get, html: { class: 'form-search form-horizontal' } do |f|

        = f.input :search, placeholder: "Search Emails"

        = f.submit 'Search', class: 'btn btn-default'
