.container
  .row
    .span12
      = search_form_for [:admin, q], html: { class: 'form-search form-horizontal' } do |f|

        = f.search_field :email_cont, placeholder: "Search Emails", id: 'user_search_field'

        = f.submit class: 'btn btn-default', id: 'user_search_button'
